.rbt-main-banner {
    position: relative;
    background: url(../images/banner/bg-shape.png), url(../images/banner/circle-shape.png), var(--gradient-banner);
    background-repeat: no-repeat;
    background-position: center bottom;
    overflow: hidden;

    @media #{$md-layout} {
        padding: 132px 0 112px;
    }

    @media #{$sm-layout} {
        padding: 85px 0 48px;
    }

    .content {
        padding: 140px 0 145px;
        position: relative;
        z-index: 5;

        @media #{$md-layout} {
            padding: 0;
        }

        @media #{$sm-layout} {
            padding: 8px 0 0;
        }
    }

    &.rbt-banner-two {
        height: auto;
        background: url(../images/banner/bg-shape.png), var(--gradient-banner);
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .subtitle {
        padding: 4px 16px;
        background: rgba(243, 136, 68, 0.10);
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 32px;
        border-radius: var(--radius-50);
        display: flex;
        gap: 8px;
        color: var(--color-orange-1);
        font-family: var(--font-primary);
        font-size: var(--font-size-b3);
        font-weight: var(--f-semi-bold);
        line-height: 30px;
        text-transform: capitalize;

        @media #{$sm-layout} {
            padding: 2px 16px;
            margin-bottom: 24px;
        }

        i {
            max-width: 21px;
            max-height: 24px;
        }
    }

    .title {
        color: var(--color-dark-1);
        text-align: center;
        font-family: var(--font-primary);
        font-size: var(--font-size-xxl);
        font-weight: var(--f-extra-bold);
        line-height: 118.75%;
        text-transform: capitalize;
        margin-bottom: 32px;

        @media #{$md-layout} {
            font-size: 44px;
            margin-bottom: 10px;
        }

        @media #{$sm-layout} {
            font-size: 40px;
            margin-bottom: 10px;
            line-height: 118.75%;
        }

        span {
            color: var(--color-dark-1);
            font-size: var(--h1);
            font-weight: var(--f-regular);
            line-height: 117%;
            display: block;
            text-transform: capitalize;

            @media #{$md-layout} {
                font-size: 44px;
            }

            @media #{$sm-layout} {
                font-size: 32px;
            }
        }

        img {
            max-height: 66px;

            @media #{$sm-layout} {
                max-height: 40px;
            }
        }
    }

    .description {
        color: var(--color-dark-1);
        text-align: center;
        font-family: var(--font-secondary);
        font-size: var(--font-size-b1);
        font-weight: var(--f-regular);
        line-height: 30px;
        max-width: 667px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;

        @media #{$md-layout} {
            margin-bottom: 22px;
        }
    }
}

// banner second design
.rbt-main-banner {
    .sub-animate {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
    }
}

.banner-tech-icon {
    position: absolute;
    height: 56px;
    width: 56px;

    &:nth-child(odd) {
        transform: scale(1.3) !important;
    }

    img {
        transition: 1s;
    }

    &.icon-1 {
        bottom: 150px;
        left: 176px;
    }

    &.icon-2 {
        bottom: 226px;
        right: 230px;
    }

    &.icon-3 {
        bottom: 60px;
        left: -12px;
    }

    &.icon-4 {
        bottom: 280px;
        left: 80px;
    }

    &.icon-5 {
        bottom: 54px;
        right: 140px;
    }

    &.icon-6 {
        right: 16px;
        bottom: 155px;
    }
}