.section-shape-bottom {
    background: url(../images/custom-service/col-shape.png), var(--gradient-banner);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-text {
    color: #5A6F7F;
    text-align: center;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
}