.rbt-mobile-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7.5px);
    top: 0;
    opacity: 0;
    visibility: hidden;
    // overflow-y: auto;
    transition: var(--transition-2);

    &.active {
        opacity: 1;
        visibility: visible;

        .inner-wrapper {
            left: 0;
            overflow-y: auto;
        }
    }

    .inner-wrapper {
        background: var(--color-white);
        width: 450px;
        min-height: 100vh;
        height: 100%;
        padding: 32px 50px;
        position: relative;
        left: -150px;
        z-index: 999;
        overflow-y: auto;
        box-shadow: var(--shadow-2);
        transition: all 0.5s ease-out;

        @media #{$sm-layout} {
            padding: 20px;
            width: 400px;
        }

        @media #{$large-mobile} {
            width: 85%;
        }

        @media #{$small-mobile} {
            width: 80%;
        }

        .inner-top {
            margin-bottom: 32px;
        }
    }

    // mobile menu close button
    .close-menu-btn {
        font-size: var(--font-size-b);
    }

    li {
        a {
            display: flex;
            gap: 6px;
            align-items: center;

            img {
                width: 22px;
                height: 22px;
            }
        }
    }

    .mainmenu {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid var(--color-border-1);

            &:last-child {
                border: none;
            }

            a {
                display: block;
                color: var(--color-dark-3);
                font-family: var(--font-secondary);
                font-size: 15px;
                font-weight: var(--f-regular);
                line-height: 146.667%;
                padding: 12px 0;

                &:hover {
                    color: var(--color-dark-1);
                }

                i {
                    font-size: 12px;
                    transition: var(--transition-2);
                }

                &.open {
                    i {
                        transform: rotate(180deg);
                        transition: var(--transition-2);
                    }
                }

                i {
                    position: absolute;
                    right: 0;
                    top: 14px;
                }
            }
        }

        .submenu {
            display: none;
        }
    }

    .rbt-megamenu {
        padding-left: 16px;

        .megamenu-item {
            padding: 0;
            margin: 0;
        }
    }

    .mobile-menu-bottom {
        border-top: 1px solid var(--color-border-1);
        padding-top: 24px;

        .rbt-btn {
            height: 36px;
        }
    }
}

.header-info {
    display: flex;
    gap: 4px;
    align-items: center;
}


// Humberger
.rbt-humberger {
    font-size: var(--font-size-b);

    .hamberger-button {
        background: transparent;
        border: none;
        font-size: var(--h5);
        margin-right: -10px;
    }
}