.product-info {
    padding: 32px;
    background: #F9F8FF;
    border-radius: var(--radius-sm);

    @media #{$sm-layout} {
        padding: 16px;
    }

    .rbt-review-card {
        box-shadow: none;
    }
}

.product-info-title {
    color: var(--color-dark-1);
    font-family: var(--font-primary);
    font-size: var(--font-size-b1);
    font-weight: var(--f-bold);
    line-height: 150%;
    margin-bottom: 16px;
}

.product-description {
    color: var(--color-dark-2);
    font-family: var(--font-secondary);
    font-size: var(--font-size-b2);
    font-weight: var(--f-regular);
    line-height: 168.75%;
}

.product-images {
    display: grid;
    gap: 24px;
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid var(--color-border-1);

    .product-img {
        width: 100%;
        border-radius: var(--radius-sm);
    }
}

.rbt-badge-wrapper {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    @media #{$md-layout} {
        margin-top: 24px;
    }

    @media #{$sm-layout} {
        flex-direction: column;
        gap: 8px;
        margin-top: 24px;

        .feature-badge {
            font-size: var(--font-size-b3);
        }
    }
}

.feature-badge {
    color: var(--color-dark-1);
    font-family: var(--font-secondary);
    font-size: var(--font-size-b2);
    font-weight: var(--f-semi-bold);
    line-height: 150%;
    padding: 8px 16px;
    border-radius: var(--radius-50);
    background: var(--color-white-4);
    white-space: nowrap;

    @media #{$laptop-device} {
        font-size: var(--font-size-b3);
    }

    @media #{$md-layout} {
        font-size: var(--font-size-b3);
    }

    .badge-check {
        color: var(--color-green);
        margin-left: 4px;
    }
}

.rbt-featured-item {
    padding: 24px 32px;
    border-radius: var(--radius-sm);
    background: var(--gradient-banner);
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: var(--color-dark-1);
    font-family: var(--font-secondary);
    font-size: var(--font-size-b2);
    font-weight: var(--f-semi-bold);
    line-height: 100%;
}

.product-info-right {
    .product-info-title {
        margin-bottom: 0;
    }

    .single-info {
        color: var(--color-dark-2);
        font-family: var(--font-secondary);
        font-size: var(--font-size-b2);
        font-weight: var(--f-semi-bold);
        line-height: 168.75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid var(--color-grayscale-4);

        @media #{$sm-layout} {
            font-size: var(--font-size-b3);
            padding: 12px 0;
        }
    }

    .info-name {
        display: flex;
        gap: 8px;

        @media #{$sm-layout} {
            gap: 4px;
        }
    }

    .info-value {
        color: var(--color-dark-blue-4);
        font-weight: var(--f-medium);
    }

    .info-btn {
        display: inline-block;
        padding: 4px 12px;
        background: var(--color-grayscale-5);
        border-radius: 4px;
        font-weight: var(--f-medium);
        color: var(--color-dark-2);
    }
}

.elevate-with-rbt {
    border-radius: var(--radius-sm);
    margin-top: 25px;
    padding: 40px 0;
    background: url(../images/product-details/quote-bg.png), var(--gradient-dark);
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 540px;

    &.elevate-with-rbt-2 {
        background-size: 100%;
        background-position: right bottom;
        background-repeat: no-repeat;

        .rbt-btn {
            font-size: var(--font-size-b3);
            height: 34px;
        }

        .nav-badge {
            margin-bottom: 12px;
        }
    }

    &.elevate-with-rbt-3 {
        max-height: fit-content !important;
        background-image: url(../images/product-details/quote-bg-2.png) !important;
        background-size: cover;
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    .banner-content-wrapper {
        background: none;
    }

    .content {
        background: none;
        height: fit-content;
    }
}