.rbt-search-box {
    position: relative;
    z-index: 3;
}

.rbt-search-field {
    background: var(--color-white);
    // box-shadow: var(--shadow-6);
    border: none;
    display: inline-block;
    padding: 12px 24px;
    padding-right: 48px !important;
    height: 50px;
    border-radius: 62px;
    opacity: 0;
    visibility: hidden;
    width: 0px !important;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--color-blue-2);
        font-family: var(--font-secondary);
        font-size: var(--font-size-b2);
        font-weight: var(--f-regular);
        line-height: 150%;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    &.rbt-visible {
        opacity: 1;
        visibility: visible;
        width: 330px !important;

        @media #{$small-mobile} {
            width: 300px !important;
        }
    }
}

.rbt-search-btn {
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
        box-shadow: none !important;
    }
}

.rbt-clear-field {
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 50px;
    background: transparent;
    border: none;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-2);

    &.rbt-visible {
        opacity: 1;
        visibility: visible;
    }
}



.rbt-search-dropdown {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 967px;
    margin: 0 auto;
    background: white;
    border-top: 1px solid #f1f0f3;
    box-shadow: 0px 10px 30px 5px rgba(19, 65, 98, 0.10);
    z-index: 104;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear, clip 0.6s linear, visibility 0s 0.2s;
    transform: translateZ(0);
    border-radius: 12px;
    opacity: 0;
    z-index: 1010;

    .wrapper {
        padding: 0;
        font-weight: 400;
        form {
            display: flex;
            input {
                height: 50px;
                line-height: 48px;
                margin: 0;
                padding: 36px 40px 35px 66px;
                border: none;
                border-bottom: 1px solid #E3E0F5;
                transition: 0.3s;
                border-radius: unset;
                font-size: 18px;
                &:focus {
                    border-color: #c0d2ed;
                }
            }
        }

        .section-title {
            padding-left: 40px;
            color: #04122B;
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 140% */
            text-transform: capitalize;
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
        transition: clip 0.6s linear, opacity 0.2s linear;
    }

}

.rbt-search-dropdown {
    overflow-x: hidden;
    overflow: hidden!important;
}

.rbt-search-dropdown.active {
    overflow-x: hidden;
    overflow: visible!important;
}

.search-trigger-close-icon i.feather-search::before {
    content: "\ea02";
}

.ajax-search-close-icon {
    position: relative;
}

.rbt-search-dropdown .search-trigger-close-icon {
    position: absolute;
    right: -23px;
    top: -25px;
    width: 48px;
    height: 48px;
    z-index: 1020;
    border-radius: 50%;
    border: 1px solid #E3E0F5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    cursor: pointer;
}
.rbt-search-dropdown .search-trigger-close-icon i {
    color: #04122B;
    text-align: center;
    font-family: "Font Awesome 6 Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
}

.rbt-search-dropdown.active .rbt-search-all-product {
    overflow-y: auto!important;
    max-height: calc(100vh - 180px);
}

.rbt-search-dropdown .rbt-search-all-product {
    overflow-x: hidden;
}
