.technologies {
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 32px;
        justify-content: center;
        align-items: center;
        background: var(--color-white-6);
        padding: 48px 142px;
        border-radius: var(--radius-lg);
        margin-top: 8px;

        @media #{$laptop-device} {
            padding: 32px;
        }

        @media #{$lg-layout} {
            padding: 32px 24px;
        }

        @media #{$md-layout} {
            padding: 24px 16px;
        }

        @media #{$sm-layout} {
            padding: 24px 16px;

            img {
                max-width: 42%;
            }
        }
    }
}